<app-header></app-header>
<div>
  <app-new-post-available [hint]='newPostHint' (refresh)="loadPost()"></app-new-post-available>
</div>
<div>
<mat-card class="example-card" *ngFor="let post of allPost">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.userDoc[0]['username']}}</mat-card-title>
      <mat-card-subtitle>{{post?.city}}{{(post?.city)?",":"New Post"}}{{post?.state}}</mat-card-subtitle>
      <button mat-button [matMenuTriggerFor]="menu" class="logout" *ngIf='userId==post.userId'>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
        <button mat-menu-item (click)="edit(post)">
        <mat-icon>edit</mat-icon>
        <span>edit</span>
        </button>
        <!-- <button mat-menu-item (click)="delete(post)" > -->
        <button mat-menu-item (click)="openDialog(post)" >
        <mat-icon>delete</mat-icon>
        <span>delete</span>
        </button>
    </mat-menu>
    </mat-card-header>
    <img mat-card-image class="img-set" [src]='post.url' alt="Photo not found" *ngIf="post.url!=null">
    <mat-card-content>
      <p>
        {{post.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button matBadge={{post.totalLikes}} matBadgeColor="warn" id="target" (click)="singleClick(post)" (dblclick)="doubleClick(post)">
        <mat-icon >favorite</mat-icon>
      </button>  
    </mat-card-actions>
  </mat-card>
</div>