.text-logo{
    font-size: 40px;
    text-shadow: 2px 2px 5px red;
    color:lightcoral;
    text-align: center;
}
a{
    text-decoration:none
}
.topbar {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 50;
    position: relative;
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
.logout{
    margin-left: auto;
} 
.navbar{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    
}

.tab{
    size: cover;
    position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
    
}   
.example-card {
    max-width: 550px;
    margin: auto; 
    margin-top: 10px;
  }
