<app-header></app-header>
<body>
    <div class="login-box">
        <h1>Create Post</h1>
        <div>
            <form [formGroup]="postInput">
                <div>
                    <mat-form-field>
                        <textarea matInput formControlName='description' placeholder="description"></textarea>
                        <mat-error *ngIf="description.hasError('required')">
                            description required
                        </mat-error>
                        
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput formControlName='url' placeholder="Image url">
                        <mat-error *ngIf="url.hasError('url')">
                            url format has Error
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                </div>
                <div>
                    <button mat-raised-button color=primary [disabled]="description.hasError('required')" (click)=update()>update</button>
                    <br>
                    <br>
                </div>
            </form>
        </div>
    </div>
</body>